.row{
    display: flex;
}

.col{
    margin: 10px;
    padding: 10px;
    flex: 1;
    background-color: darkcyan;
}

.col-2{
    margin: 10px;
    padding: 10px;
    flex: 2;
    background-color: darkcyan;
}

.col-3{
    margin: 10px;
    padding: 10px;
    flex: 3;
    background-color: darkcyan;
}

